{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block menu %}
    {% if request.user %}
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'list_projects' %}">My projects</a>
        </li>
        <li>
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
        </li>
    {% endif %}
{% endblock menu %}
{% block content %}
    <div>
        <h1>My Tasks</h1>
        {% if tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ start_date.name }}</td>
                            <td>{{ due_date.name }}</td>
                            <td>{{ is_complete.name|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You have no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
