{% extends 'base.html' %}

{% block title %}
    Create Project
{% endblock title %}
{% block menu %}
    {% if request.user %}
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'list_projects' %}">My projects</a>
        </li>
        <li>
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
        </li>
    {% endif %}
{% endblock menu %}
{% block content %}
    <div>
        <h1>Create a new project</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
