{% extends 'base.html' %}

{% block title %}
    {{ project.name }}
{% endblock title %}
{% block menu %}
    {% if request.user %}
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'list_projects' %}">My projects</a>
        </li>
        <li>
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
        </li>
    {% endif %}
{% endblock menu %}
{% block content %}
    <div>
        <h1>{{ project.name }}</h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if project.tasks.all %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Assignee</td>
                        <td>Start date</td>
                        <td>Due date</td>
                        <td>Is completed</td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_complete|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
    </div>
{% endblock content %}
