{% extends 'base.html' %}

{% block title %}
    Signup
{% endblock title %}
{% block menu %}
    {% if no_user %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'list_projects' %}">My projects</a>
        </li>
        <li>
            <a href="{% url 'show_my_tasks' %}">My tasks</a>
        </li>
    {% endif %}
{% endblock menu %}
{% block content %}
    <div>
        <h1>Signup</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Signup</button>
        </form>
    </div>
{% endblock content %}
